<button type="button" class="btn btn-danger" routerLink="/cycle">Retour</button>

<table class="table table-bordered table-dark">
    <tbody>
        <tr>
            <th scope="col">Libelle</th>
        </tr>
        <tr>
            <th scope="col">Nomenclature</th>
        </tr>
        <tr>
            <th scope="col">Objectif</th>
        </tr>
        <tr>
            <th scope="col">Référence</th>
        </tr>
        <tr>
            <th scope="col">Enseignant Référent</th>
        </tr>
        <tr>
            <th scope="col">Enseignants</th>
        </tr>
    </tbody>
</table>