<h1>Cours</h1>

<br>
<div *ngIf=" !detail">
<table>
    <tr>
        <td>Libelle</td>
        <td>Nomenclature</td>
    </tr>
</table>

   <li *ngFor="let cour of valueRetour" (click)="onSelect(cour)">
        {{ cour.libelle }}
        {{ cour.nomenclature }}
    </li>
    
<ul class="heroes">
    <li *ngFor="let cour of valueRetour" (click)="onSelect(cour)">
        <span class="badge">{{cour.id}}</span> {{ cour.libelle }}{{ cour.nomenclature }}
    </li>
</ul>
</div>
<div *ngIf="selectedCours && detail">

    <button type="button" class="btn btn-link" (click)="backToCours()">Retour</button>
    <h2>{{selectedCours.libelle | uppercase}} Details</h2>
    <div><span>id: </span>{{selectedCours.id}}</div>
    <div><span>libelle: </span>{{selectedCours.libelle}}</div>
    <div><span>nomenclature: </span>{{selectedCours.nomenclature}}</div>
    <div><span>cycle: </span>{{selectedCours.Cycle.libelle}}</div>


    

</div>