<h1>Cours</h1>

<br>
<div *ngIf=" !detail">

<table class="table table-bordered table-dark">
    <thead>
        <tr>
            <th colspan="2">Année 1</th>
            <th colspan="2">Année 2</th>
            <th colspan="2">Année 3</th>
            <th colspan="2">Année 4</th>
            <th colspan="2">Année 5</th>
        </tr>
        <tr>
            <th>Semestre 1</th>
            <th>Semestre 2</th>
            <th>Semestre 3</th>
            <th>Semestre 4</th>
            <th>Semestre 5</th>
            <th>Semestre 6</th>
            <th>Semestre 7</th>
            <th>Semestre 8</th>
            <th>Semestre 9</th>
            <th>Semestre 10</th>
        </tr>
    </thead>
    <tbody> 
        <td >
            <tr *ngFor="let cour of valueRetour | semestre1: 'semestre 1'"><li (click)="onSelect(cour)">{{ cour.libelle }}</li></tr>
        </td>
    <!-- <td>
            <tr *ngFor="let cour of valueRetour | semestre2: 'semestre 2'" >{{ cour.libelle }}</tr>
        </td>
         <td>
            <tr *ngFor="let cour of valueRetour | semestre3: 'semestre 3'">{{ cour.libelle }}</tr>
        </td>
          <td>
            <tr *ngFor="let cour of valueRetour | semestre2: 'semestre 2'">{{ cour.libelle }}</tr>
        </td>
       <td>
            <tr *ngFor="let cour of valueRetour | semestre5: 'semestre 5'">{{ cour.libelle }}</tr>
        </td>
       <td>
            <tr *ngFor="let cour of valueRetour">{{ cour.libelle }}</tr>
        </td>
        <td>
            <tr *ngFor="let cour of valueRetour | semestre7: 'semestre 7'">{{ cour.libelle }}</tr>
        </td>
        <td>
            <tr *ngFor="let cour of valueRetour | semestre8: 'semestre 8'">{{ cour.libelle }}</tr>
        </td>
        <td>
            <tr *ngFor="let cour of valueRetour | semestre9: 'semestre 9'">{{ cour.libelle }}</tr>
        </td>
        <td>
            <tr *ngFor="let cour of valueRetour | semestre10: 'semestre 10'">{{ cour.libelle }}</tr>
        </td>
        
        <td>
            <tr *ngFor="let cour of valueRetour">
                <td>{{ cour.libelle }}</td>
            </tr>
        </td>
        <td >
            <tr *ngFor="let cour of valueRetour | semestre1: 'semestre 4'">
                <td >{{ cour.libelle }}</td>
            </tr>
        </td>-->
    </tbody>
</table>

<!--
<table>
    <tr>
        <td>Libelle</td>
        <td>Nomenclature</td>
    </tr>
</table>

   <li *ngFor="let cour of valueRetour" (click)="onSelect(cour)">
        {{ cour.libelle }}
        {{ cour.nomenclature }}
    </li>
    
<ul class="cours">
    <li *ngFor="let cour of valueRetour" (click)="onSelect(cour)">
        <span class="badge">{{cour.id}}</span> {{ cour.libelle }}{{ cour.nomenclature }}{{ cour.periode.libelle }}
    </li>
</ul>-->
</div>


<div *ngIf="selectedCours && detail">

    <button type="button" class="btn btn-link" (click)="backToCours()">Retour</button>

    <table class="table table-bordered table-dark">
        <thead>
                {{selectedCours.libelle | uppercase}} Details
        
        </thead>
        <tbody>
            <tr>
                <th>id</th>
                <td>{{selectedCours.id}}</td>
            </tr>
            <tr>
                <th>libelle </th>
                <td>{{selectedCours.libelle}}</td>
            <tr>
                <th>nomenclature</th>
                <td>{{selectedCours.nomenclature}}</td>
            <tr>
                <th>cycle</th>
                <td>{{selectedCours.Cycle.libelle}}</td>
            <tr>
                <th>enseignants</th>
                <td>{{selectedCours.Enseignants | json}}</td>
        </tbody>
    </table>
   
    
</div>
<!--
<div class="container"><br />

    <div class="form-group">
        <strong>Periode</strong>
        <select class="form-control" [(ngModel)]="periode">
            <option></option>
            <option value="Semestre 1">Semestre 1</option>
            <option value="Semestre 4">Semestre 4</option>
        </select>
    </div>

    <br /><br />


    <table class="table table-bordered table-dark">
        <thead>
            <th>Name</th>
            <th>Semestre</th>
        </thead>

        <tbody>
            <tr *ngFor="let cour of valueRetour | periode: periode">
                <td (click)="onSelect(cour)">{{ cour.libelle }}</td>
                <td>{{ cour.periode.libelle }}</td>
            </tr>
        </tbody>

    </table>

</div>-->