@import url('https://fonts.googleapis.com/css?family=Oswald|Roboto:400,700');
@import "bootstrap";

$danger:#d30c15;

.container-choice-libelle{
	position: fixed;
	margin-left: 2%;
	margin-top: 5%;

}

.cycle-title{
	background-color:#d30c15;
	border-radius: 5px;
	color: white;
}


.title{
	text-align: center;
    position: fixed;
    width: 40%;
	margin-left: 30%;
	background-color:#d30c15;
	border-radius: 5px;
	z-index: 10;
	color: white;
}

.title-details{
	text-align: center;
    position: fixed;
    width: 40%;
	margin-left: 30%;
	background-color:#d30c15;
	border-radius: 5px;
	z-index: 9;
	color: white;
}

.btn{
	background-color:#d30c15;
	color: white;
}

.spinner{
	text-align: center;
    position: fixed;
    width: 60%;
    margin-left: 20%;
	margin-top: 10%;
	
}

.form-control{
	width: 150px;
}

body {
	font-size: 14px;
	line-height: 1.5;
}

// ---------------- FONTS

h1, h2, h3, h4, h5, h6 {
	font-family: 'Oswald', sans-serif;
}

h2 {
	font-size: 2rem;
	margin-bottom: .5em;
	color: white;
}


// ----------------  LAYOUT


.timeline{
	margin-top: 3%;
	background-color:rgb(43, 43, 43, 0.7);
	width: 60%;
	margin-left: 20%;
	border-radius: 5px;
}

.container {
	max-width: 1024px;
	width: 90%;
	margin: 0 auto;
}

// ----------------  FONTS

$border-color: rgba(white, .3);

.timeline-item {
	padding: 3em 2em 2em;
	position: relative;
	border-left: 2px solid $border-color;

.card{
	color:white;
	text-align: center;
}

	
	&::before {
		content: attr(date-is);
		position: absolute;
		left: 2em;
		font-weight: bold;
		top: 1em;
		display: block;
		font-family: 'Roboto', sans-serif;
		font-weight: 700;
		font-size: .785rem;
	}

	&::after {
		width: 10px;
		height: 10px;
		display: block;
		top: 1em;
		position: absolute;
		left: -7px;
		border-radius: 10px;
		content: '';
		border: 2px solid $border-color;
		background: white;
	}

// ----------------  DETAILS	
	
}