<br>

<div class="titre"><h1 class="title">Liste des cours</h1></div>

<br>
<div *ngIf="showSpinner" class="spinner">
<button class="btn btn-danger" type="button" disabled>
    <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
    Chargement...
</button>
</div>

<div *ngIf=" !detail && !showSpinner">

    <div class="container-choice-libelle"><br />
    
    <div class="form-group">
        <h2 class="cycle-title">Choix du cycle : {{Cycle}}</h2>
        <select class="form-control" [(ngModel)]="Cycle">
            <option></option>
            <option *ngFor="let cycle of listCycle" [ngValue]="cycle.libelle" [ngStyle]="{color: cycle.couleur}">{{ cycle.libelle }}</option>
        </select>
    </div>
    </div>
    
   
<div class="timeline">
    <div class="container" *ngFor="let periode of listPeriode">
    
        <div class="timeline-item" >
            <h1>Semestre &nbsp;{{ periode.numeroSemestre }}</h1>
            <div *ngFor="let cour of valueRetour | cycle: Cycle">
                <span class="d-inline-block" tabindex="0" data-toggle="tooltip" data-html="true" title="{{cour.description}} 
                Référent : {{cour.Referent.nom}}">
                <div *ngIf="cour.periode.numeroSemestre === periode.numeroSemestre" (click)="onSelect(cour)">
                    <div class="card" [ngStyle]="{'background-color': cour.Cycle.couleur}">
                        {{ cour.libelle }}
                    </div>
                </div>
                </span>
            </div>
        </div>

      
    
    </div>
    </div>
</div>
<!---------------------------------------------------------------------------------------------------------->

<div *ngIf="selectedCours && detail">

    <button type="button" class="btn btn-link" (click)="backToCours()">Retour</button>

    <table class="table table-bordered table-dark">
        <thead>
            {{selectedCours.libelle | uppercase}} Details

        </thead>
        <tbody>
            <!--<tr>
                <th>id</th>
                <td>{{selectedCours.id}}</td>
            </tr>-->
            <tr>
                <th>libelle </th>
                <td>{{selectedCours.libelle}}</td>
            </tr>
            <tr>
                <th>nomenclature</th>
                <td>{{selectedCours.nomenclature}}</td>
            </tr>
            <tr>
                <th>description</th>
                <td>{{selectedCours.description}}</td>
            </tr>
            <tr>
                <th>syllabus objectif</th>
                <td>{{selectedCours.syllabusObjectif}}</td>
            </tr>
            <tr>
                <th>syllabus reference</th>
                <td>{{selectedCours.syllabusReference}}</td>
            </tr>
            <tr>
                <th>periode</th>
                <td>{{selectedCours.periode.libelle}}</td>
            </tr>
            <tr>
                <th>referent</th>
                <td>{{selectedCours.Referent.nom}}</td>
            </tr>
            <tr>
                <th>enseignants</th>
                <td>{{selectedCours.Enseignants | json}}</td>
            </tr>
            <tr>
                <th>type d'évaluation</th>
                <td>{{selectedCours.TypeEvaluation.libelle}}</td>
            </tr>
            <tr>
                <th>prerequis</th>
                <td>{{selectedCours.Prerequis | json}}</td>
            </tr>
            <tr>
                <th>pi espaces</th>
                <td>{{selectedCours.PiEspaces | json}}</td>
            </tr>
        </tbody>
    </table>


</div>
