.btn{
    background-color:#d30c15;
	color: white;
}

.jumbotron{
    text-align: center;
    position: fixed;
    width: 70%;
    margin-left: 15%;
    margin-top: 5%;
    color:white;
    background-color:rgb(43, 43, 43, 0.9);

}