<div class="jumbotron">
    <h1 class="display-4">Gestion des compétences ISEN / CTI</h1>
    <p class="lead">Cette application permet d'avoir un aperçu de la répartition des différentes compétences 
        acquises lors d'un parcours scolaire à l'ISEN</p>
    <hr class="my-4">
    <p>Cette application a été réalisée via un projet de 4ème année à l'ISEN Brest par deux étudiants accompagnés de Monsieur VIGNAUD Christophe </p>
    <p class="lead">
        <a class="btn btn-lg" role="button" routerLink="/cours">Accéder à la liste des cours</a>
    </p>
</div>
