<br>
<h2>Choisir un cycle</h2>
<br>

<table>
    <td *ngFor="let cycle of valueRetour">
        <tr><button type="button" class="btn btn-danger">{{ cycle.libelle }}</button></tr>
    </td>
</table>
<a routerLink="/syllabus"><button type="button" class="btn btn-primary">Retour</button></a>
<br>

<table class="table table-bordered table-dark">
    <thead>
        <tr class="table-danger">
            <th scope="col">#</th>
            <th scope="col" colspan="2">Année 1</th>
            <th scope="col" colspan="2">Année 2</th>
            <th scope="col" colspan="2">Année 3</th>
            <th scope="col" colspan="2">Année 4</th>
            <th scope="col" colspan="2">Année 5</th>
        </tr>
    </thead>
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Semestre 1</th>
            <th scope="col">Semestre 2</th>
            <th scope="col">Semestre 3</th>
            <th scope="col">Semestre 4</th>
            <th scope="col">Semestre 5</th>
            <th scope="col">Semestre 6</th>
            <th scope="col">Semestre 7</th>
            <th scope="col">Semestre 8</th>
            <th scope="col">Semestre 9</th>
            <th scope="col">Semestre 10</th>
        </tr>
    </thead>
    <tbody>
            <tr>
                <th scope="row">1</th>
                <td *ngFor="let cycle of valueRetour" class="table-danger">{{ cycle.libelle }}</td>
                <td>Otto</td>
                <td>@mdo</td>
                <td>Mark</td>
                <td>Otto</td>
                <td>@mdo</td>
                <td>Mark</td>
                <td>Otto</td>
                <td>@mdo</td>
                <td>Mark</td>
            </tr>
    </tbody>
</table>